html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

:root {
    --color-black: #000000;
    --color-gray-darkest: #333333;
    --color-gray-dark: #666666;
    --color-gray: #999999;
    --color-purple-light: #D1A9F0;
    --color-purple: #C283F3;
    --color-purple-dark: #9D5CD0;
    --color-purple-darkest: #7943A4;
    --color-green: #30BF39;
    --color-blue: #26A5E4;
    --color-red: #D11616;
    --color-gray-light: #CACACA;
    --color-gray-lightest: #ECECEC;
    --color-white: #ffffff;
    --gap: 50px;
}

body {
    max-width: 1920px;
    margin: auto;
    background-color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--color-gray-darkest);
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3, h4, h5, p, figure {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

.btn-reset {
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-title {
    padding-top: 80px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-gray);
}

/* Header */

.header__wrapp {
    padding: 29px 0;
    background-color: var(--color-black);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 179px;
}

.header__nav {
    margin-right: auto;
}

.header__list {
    display: flex;
    gap: 96px;
}

.header__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-white);
    transition: .3s color ease-in-out;
}

.header-search svg {
    fill: var(--color-white);
}

.header-search__btn svg{
    transition: .3s fill ease-in-out;
}

.header-search__btn:hover svg {
    fill: var(--color-purple);
}

.header-search__btn:focus {
    padding: 4px;
    outline: none;
    background-color: var(--color-purple-darkest);
}

.header-search__btn:active svg {
    fill: var(--color-purple-dark);
}

.header-search__btn:active {
    background-color: transparent;
}


.header__link:focus {
    padding: 3px 2px;
    outline: none;
    background-color: var(--color-purple-darkest);
}

.header__link:hover {
    background-color: transparent;
    color: var(--color-purple);
}

.header__link:active {
    background-color: transparent;
    color: var(--color-purple-darkest);
}

/* Hero */

.hero {
    min-height: 700px;
    background: transparent url('../img/hero-bg-1920.jpg') no-repeat center / cover;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 146px;
}

.hero-title {
    width: 36%;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 72px;
    line-height: 68px;
    color: var(--color-white);
}

.hero__descr {
    width: 34%;
    margin-bottom: 92px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-white);
}

.hero__btn {
    padding: 22px 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--color-purple-dark);
    color: var(--color-white);
    border-radius: 100px;
}

.hero__btn:focus {
    outline: 1px solid var(--color-purple);
    outline-offset: 5px;
}

.hero__btn:hover {
    outline: none;
    outline-offset: 0;
    outline: 1px solid var(--color-purple-light);
}


.hero__btn:active {
    outline-offset: 0;
    outline: 1px solid var(--color-purple-light);
    background-color: var(--color-purple-darkest);
}

/* About-us */

.about-us {
    padding-bottom: 66px;
}

.about-us__tex-wrapp {
    width: 65%;
}

.about-us__text {
    font-size: 16px;
    line-height: 32px;
}

/* Gallery */

.gallery {
    min-height: 595px;
    background: transparent url('../img/gallery-bg.png') no-repeat center / cover;
}

.gallery__container {
    display: flex;
    align-items: flex-end;
}

.gallery-left {
    width: 28%;
    min-height: 511px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.gallery-right {
    width: 72%;
    height: 344px;
    display: flex;
    gap: var(--gap);
}

.gallery__section-title {
    padding-top: 81px;
    color: var(--color-white);
}


.gallery-form__century {
    color: var(--color-white);
}

.gallery-form-radio__label {
    cursor: pointer;
    position: relative;
    padding-left: 24px;
}

.gallery-form-radio__label:hover .gallery-form__new-radio {
    border-color: var(--color-purple);
}

.gallery-form-radio__label:focus .gallery-form__new-radio, .gallery-form-radio__label:focus .gallery-form__century {
    border-color: var(--color-purple);
    color: var(--color-purple);
}

.gallery-form-radio__label:active .gallery-form__new-radio, .gallery-form-radio__label:active .gallery-form__century {
    border-color: var(--color-purple);
    color: var(--color-purple);
}

.gallery-form__radio {
    display: none;
}

.gallery-form__new-radio {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-color: var(--color-white);
    transition: .3s border-color ease-in-out;
}


.gallery-form__new-radio::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--color-purple);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.gallery-form__new-radio::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.gallery-form-radio__label .gallery-form__radio:checked + .gallery-form__new-radio::after {
    opacity: 1;
}

/* Catalog */

.catalog__text {
    width: 68%;
    margin-bottom: 39px;
}

.catalog-card:not(:last-child) {
    margin-bottom: 47px;
}

.catalog-card__wrapp {
    display: flex;
    gap: var(--gap);
}

.catalog-card__text-wrapp {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.catalog-card__name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.catalog-card__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray);
}


/* Events */

.events__card-wrapp {
    display: flex;
    gap: 50px;
}

.events-card {
    width: 32%;
    padding-bottom: 40px;
    border: 1px solid var(--color-gray-light);
}

.events-card__text-wrapp {
    width: 90%;
    min-height: 354px;
    padding-top: 6px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.events-card__text-wrapp figcaption {
    width: 40%;
    margin-bottom: 11px;
}

.events-card__descr {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray);
}

.events-card__title {
    width: 90%;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.events-card__text {
    margin-bottom: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.events-card__link {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-purple-dark);
    transition: .3s border-bottom-color ease-in-out, .3s color ease-in-out, .3s background-color ease-in-out;
}

.events-card__link::after {
    content: '';
    position: absolute;
    bottom: 3px;
    right: 0;
    display: block;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-purple-dark);
}

.events-card__link:focus {
    outline: none;
    background-color: var(--color-purple-dark);
    color: var(--color-white);
}

.events-card__link:focus::after {
    border-bottom-color: var(--color-white);
}

.events-card__link:hover, .events-card__link:hover::after {
    background-color: transparent;
    color: var(--color-purple-darkest);
    border-bottom-color:var(--color-purple-darkest) ;
}

/* Projects */

.projects {
    padding-bottom: 82px;
}

.projects__text {
    width: 67%;
    margin-bottom: 30px;
}

.projects__partners {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.projects__card {
    display: flex;
    gap: 34px;
}

.projects__card_1 {
    width: 329px;
    height: 122px;
    background-color: transparent;
    background-image: url('../img/project-card-1.png');
    background-position: center;
    background-repeat: no-repeat;
}

.projects__card_2 {
    width: 329px;
    height: 122px;
    background-color: transparent;
    background-image: url('../img/project-card-2.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* Contacts */

.contacts__top {
    padding: 30px 0 34px 0;
    border: 1px solid var(--color-gray-light);
}

.contacts__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.contacts__address-info {
    display: flex;
    flex-direction: column;
}

.contacts__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: var(--color-gray-darkest);
}

.contacts__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.contacts-connection {
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.contacts-connection__link-wrapp {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.contacts-form {
    display: flex;
    gap: 20px;
}

.contacts-form__input {
    width: 100%;
    padding: 17px 88px 13px 0;
    border: 1px solid var(--color-gray-darkest);
    border-radius: 100px;
}

.contacts-form__input::placeholder {
    padding-left: 20px;
    color: var(--color-gray);
}

.contacts-form__btn {
    padding: 12px 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-purple-dark);
    background-color: transparent;
    border: 1px solid var(--color-purple-dark);
    border-radius: 100px;
    transition: .2s outline ease-in-out, .2s color ease-in-out, .2s background-color ease-in-out;
}

.contacts-form__btn:focus {
    outline: 1px solid var(--color-purple);
    outline-offset: 5px;
}

.contacts-form__btn:hover {
    outline: none;
    background-color: var(--color-purple);
    color: var(--color-white);
}

.contacts-form__btn:active {
    border: none;
    outline: 3px solid var(--color-purple-light);
    outline-offset: 0px;
}

.contacts-connection__link {
    transition: .3s opacity ease-in-out, .3s border ease-in-out;
}

.contacts-connection__link:focus {
    outline: none;
    opacity: .5;
}

.contacts-connection__link_wa:hover {
    opacity: .5;
}

.contacts-connection__link_wa:active svg {
    opacity: 1;
    border: 1px solid var(--color-purple-dark);
    border-radius: 50px;
}

.contacts-connection__link_wa:active {
    opacity: 1;
}

.contacts-connection__link_tg:hover {
    opacity: .5;
}

.contacts-connection__link_tg:active svg {
    opacity: 1;
    border: 1px solid var(--color-purple-dark);
    border-radius: 50px;
}

/* Footer */

.footer {
    height: 140px;
    padding-top: 47px;
    background-color: var(--color-black);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icons-wrapp {
    display: flex;
    gap: 20px;
}

.footer__icon_vk svg {
    transition: .3s fill ease-in-out;
}

.footer__icon_vk:focus svg {
    fill: var(--color-white);
}

.footer__icon_vk:focus {
    outline: none;
}

.footer__icon_vk svg {
    fill: #CACACA;
}

.footer__icon_vk:hover svg {
    fill: var(--color-white);
}

.footer__icon_vk:active svg {
    fill: var(--color-purple-dark);
}

.footer__icon_odn svg {
    transition: .3s fill ease-in-out;
}

.footer__icon_odn svg {
    fill: #CACACA;
}

.footer__icon_odn:focus {
    outline: none;
}

.footer__icon_odn:focus svg {
    fill: var(--color-white);
}

.footer__icon_odn:hover svg {
    fill: var(--color-white);
}

.footer__icon_odn:active svg {
    fill: var(--color-purple-dark);
}